<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mini Calculadora Angular</title>
</head>
<body>
  <div class="main-container">
    <h1>{{ title }}</h1>
    <div class="inputs-container">
      <p>Number 1: <input type="number" [(ngModel)]="number1" name="number1"></p>
      <p>Number 2: <input type="number" [(ngModel)]="number2" name="number2"></p>
    </div>
    <div class="buttons-container">
      <input type="submit" value="sum" (click)="operations($event)">
      <input type="submit" value="subtract" (click)="operations($event)">
      <input type="submit" value="multiply" (click)="operations($event)">
    </div>
    <div class="result-container">
      <p>Result: {{ result }}</p>
    </div>
  </div>
</body>
</html>